.hidden {
  display: none;
}

.visible {
  display: block;
}

body.dark-mode {
  background-color: #242323;
  color: #fff;
}
button {
  background-color: darkgray;
  color: white;
}
button:hover {
  opacity: 0.5;
}
